* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: linear-gradient(135deg, #ff5050, rgb(0, 255, 76));
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    gap: 40px;
}

.hero-texts h1 {
    font-size: 3rem;
}

.hero-texts p {
    margin: 20px 0;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: rgb(255, 71, 86);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateX(-5px);
}

.hero-image img {
    width: 250px;
    border-radius: 50%;
}

.skills,
.projects,
.contact {
    padding: 70px 10%;
}

.skills-container,
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card,
.project {
    background: rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-radius: 10px;
}

